---
---
<div class="note">
	<p>
		The bloom actually traces its origins back to the when the green coffee bean was first roasted. Like all organic matter, CO2 and other gases is released when coffee is exposed to extreme heat. The beans continue to slowly release CO2 after being roasted. That's the purpose of those one way vents you've probably spotted on bags of coffee - it lets the gas out. However, these same gases are also important for the flavor of coffee, which is why having fresh beans is so important.
	</p>
	<p>
		Adding hot water to your grounds speeds up the release of CO2. During this time, the pressure from the escaping gases is working on the molecular level to push water away from the coffee. This is why we let the bloom set for 30 seconds. If we didn't, our water would rush by the grounds and reduce extraction.
	</p>
</div>