<h2>GUIDES</h2>
<ul>
    <li>
        <a class="extra" href="/how-to-make-pour-over-coffee/index.html">Pour Over</a>
    </li>
    <li>
        <a class="extra" href="/how-to-use-a-french-press/index.html">French Press</a>
    </li>
    <li>
        <a class="extra" href="/aeropress-instructions/index.html">AeroPress</a>
    </li>
    <li>
        <a class="extra" href="/how-to-make-coffee-with-a-coffee-maker/index.html">Machine Drip</a>
    </li>
    <li>
        <a class="extra" href="/how-to-make-iced-coffee/index.html">Cold Brew</a>
    </li>
    <li>
        <a class="extra" href="/how-to-make-iced-coffee/index.html">Iced Coffee</a>
    </li>
    <li>
        <a class="extra" href="/simple-syrup-recipe/index.html">Simple Syrup</a>
    </li>
</ul>