<h2>GUIDES</h2>
<ul>
    <li>
        <a class="extra" href="/pourover/index.html">Pour Over</a>
    </li>
    <li>
        <a class="extra" href="/frenchpress/index.html">French Press</a>
    </li>
    <li>
        <a class="extra" href="/aeropress/index.html">AeroPress</a>
    </li>
    <li>
        <a class="extra" href="/drip/index.html">Drip</a>
    </li>
    <li>
        <a class="extra" href="/coldbrew/index.html">Cold Brew</a>
    </li>
    <li>
        <a class="extra" href="/simplesyrup/index.html">Simple Syrup</a>
    </li>
</ul>