---
layout: default
title: French Press
---
<p>
	The French press is one of the simplest and most economical methods for brewing an amazing cup of coffee. All you need is the press, a cup, coffee, and hot water. The French press utilizes a built in metal mesh to filter coffee grinds out of the water, so there are no paper filters to purchase or throw away. For this same reason French pressed coffee will retain all of its oils, resulting in a heavy brew. If you enjoy full bodied coffee, the French press is perfect for you.
</p>

{% include materials.html name="frenchpress" %}

<img src="/images/frenchpress/setup.png"/>

<p>
	Begin by heating 8 ounces (200ml) of water to 200°F (93.3°C).
</p>

<p>
	While your water is warming, grind 2 rounded tablespoons of coffee (10.6 grams), as coarse as your grinder will allow. Since we are relying on a metal mesh filter we want to prevent as many fine grains from getting through as possible.
</p>

<img src="/images/frenchpress/grounds.png"/>

<p>
	Place the ground coffee in the French press, and give it a slight shake to even them out.
</p>

<p>
	Once your water is warmed, slowly pour just enough to saturate the grounds, and then a bit more. Use a plastic or wooden spoon to gently stir the slurry - a metal one may chip the glass of the press. If your beans are fresh, you should see a beautiful golden bloom form. Let this set for 30 seconds.
</p>

<img src="/images/frenchpress/bloom.png"/>

{% include bloom-note.html %}

<p>
	Pour the rest of your water into the press. Stir the mixture about 3 times, then place the lid on top of the press, but do not plunge yet. Let your mixture set for 3-4 minutes.
</p>

<img src="/images/frenchpress/timer.png"/>

<p>
	After 4 minutes, place your hand on top of the plunger. Using mostly just the weight of your hand, press the plunger through the grinds. If it immediately collapses to the bottom, your grind is too coarse. If it's difficult to press down, your grind is too fine.
</p>

<img src="/images/frenchpress/halfpress.png"/>

<p>
	Serve the contents of the press immediately - if you allow it to set the coffee will continue brewing with the grounds in the bottom.
</p>

<img src="/images/frenchpress/cup.png"/>


