---
layout: default
title: AeroPress
---
<p>The Aerobie AeroPress is a curious coffee maker (made curiouser because it's created by a frisbee company) that combines elements from the pour over, the French press, and even an espresso machine. This amalgamation of techniques leads to a nuanced cup that is simpler to brew than the sum of its parts. It is one of the easiest and quickest methods for brewing a great cup of coffee at home.</p>

{% include materials.html name="aeropress" %}

<p>
Begin the process with the rubber plunger inserted about half an inch (1.25 cm) into the end of the tube part of the press closest to the number 4. Set the press, plunger down, such that the flared, open part of the tube is facing up.</p>

<p>
Measure out 2 tablespoons of ground coffee. The grind should be more towards the finer side of the spectrum, though not as powdery as an espresso grind. </p>

<p>
Place the grinds into the press so that they are sitting on the rubber plunger.</p>

<p>
Bring 8oz of water to 200 degrees Fahrenheit (93C.)</p>

<p>
Slowly pour the water over the grounds until you have about as much water as you do grounds, then use a spoon or plastic stirer to make sure the grounds are completely saturated. Let this slurry set for 30 seconds.</p>

<p>
Pour the remaining water into the press, and let sit for 2.5 - 3 minutes.</p>

<p>
While you are waiting, warm another 6 - 8 oz. of water.</p> 

<p>
Insert one of the rounder paper filters into the plastic filter cap. Hold it over cup you will be using to drink your coffee, and carefully pour your new water through the filter and into the cup.</p> 

{% include paper-note.html %}

<p>
After 2.5 - 3 minutes has passed and your coffee is ready, stir the slury 5 - 10 more times, then screw the plastic cap with paper filter on top of the press.</p>

<p>
Quickly but steadily flip the press over and place it on top of your cup. The rim of the cup should support the flared plastic edge of the press.</p>

<p>
Slowly press down on the plunger. If you find the plunger drops too quickly, your grind is too coarse. If the plunger is very difficult to press, then your grind may be too fine. Your brew is finished when you hear a hissing sound.</p>

<p class="note">
Note: The pressure created when plunging is what this technique shares with espresso machines, although on a much smaller scale. You are exerting about 30 PSI (2 bars) of pressure on the AeroPress - an espresso machine creates around 130 PSI (9 bars)
</p>

<p>
Flip the press back over and usncrew the cap - you should have a fairly solid puck of coffee grounds left in the press. Hold the press over a trash can and push on the plunger - the puck should be ejected with a satisfying "pop."
</p>

<p>
	You are now ready to enjoy your beverage. If you find there are tiny grains of coffee in the cup, you should try adjusting your grind to be slightly more coarse. If you feel the drink is too strong, try less coffee per water next time. Likewise, if you'd prefer a more concentrated drink, use more coffee. It could take many attempts to get the cup you think is perfect - luckily there will be plenty of coffee along the way.
</p>