---
layout: default
title: Pour Over
---
<p>
	Brewing great coffee is a game of variables. The more control you have over the variables, the more delicious a cup you can brew. On one end of the spectrum you have automatic drip brewers that only allow you to control two variables: the amount of coffee and the grind. At the other end of that spectrum is the pour over, which gives you control over every variable: amount of coffee, grind, temperature of water, and brew speed. It is arguably the best way to brew coffee, though it does require time, and a skilled hand. Perfect practice makes perfect, so lets get started.
</p>

<p>
	Begin with your drip device positioned over the vessel you will brewing into. If you are making a single cup you can brew directly into it. Place a paper filter into the dripper. Though not necessary, if the filter has a thick ridge, you may want to fold it over to create a smoother fit.
</p>

<p class="note">
	There are many different types of drippers. A cone shaped filter such as the Hario v60 requires the most skill to navigate, due to the speed at which water can move through it. A flat bottom dripper like the Melitta Number 2, or one that uses a thick filter like the Chemex, are more forgiving.
</p>

<p>
	Bring 7 ounces (200 grams) of water to 200° F (93.3° C). Slowly pour it over the empty filter, careful to saturate the entire thing.
</p>

{% include paper-note.html %}

<p>
	Bring another 7 ounces of water to 200° F. Meanwhile, grind about 2 tablespoons of coffee beans. The grind is the most important variable for tuning the flavor of your pour over. For a flat bottom dripper, start with a medium grind. For a cone shaped dripper, start about halfway between fine and medium.
</p>

<p>
	Place the ground coffee in the wet paper cone. Give it a slight shake to even out the grounds.
</p>

<p>
	Slowly pour about water onto the grounds until they are saturated, and then a bit more. You want to use about twice as much water as you have coffee in the dripper. Start your pour in the center, and move outwards in a circular motion.
</p>

<p>
	Let this slurry set for 30 seconds. If your beans are fresh, you will see a beautiful, bubbly foam rising from your grounds. This is known as the "bloom" and is caused by CO2 being released from the hot water iteracting with the coffee.
</p>

{% include bloom-note.html %}

<p>
	Now pour again, this time using about 1/3 - 1/2 the remaining water. Start slowly pouring into the middle, and work your way out in a circular motion. Be careful not to pour onto the sides of the filter until after the water level has risen above the ring of grinds. This will cause water to bypass all of your grounds and you won't get an even extraction.
</p>

<p>
	Continue this process until you are out of water. For a single cup you want the entire pouring process to take about 2.5 - 3 minutes. If it went too fast, you can adjust the time by pouring slower and/or using a finer grind. A coarser grind will lead to a speedier brew.
</p>

<p>
	You are ready to enjoy your brew. If this is your first pour over, chances are there are a few things you know you can improve on. Proceed back to step one when you're ready for your next uniquely personal cup of coffee.
</p>
